<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
</head>
<body>
    <div>
      <h2 style="color: #444444;">{{ message }}</h2>

      <p style="color: #707070;">This email is automatic reply, please do not reply to this email. </p>
    </div>
</body>
</html>
